@page "/"

@using Blazor.Extensions
@using Blazor.Extensions.Canvas.Canvas2D
@using Microsoft.JSInterop
@using System.Text
@using GraphViz

@inject IJSRuntime JsRuntime

    <div id="formHolder">
        <label for="nodeCount">node count</label>
        <input type="text" @bind="NodeCount" id="nodeCount" name="nodeCount">
        <label for="nullProb">% chance of null</label>
        <input type="text" @bind="NullProbPct" id="nullProb" name="nullProb">
        <label for="artMode">art mode</label>
        <input type="checkbox" @bind="IsArtModeEnabled" id="artMode" name="artMode">
        <button type="submit" @onclick="OnSubmit">Submit</button>
    </div>
    <div id="canvasHolder"
        class=""
        tabindex="1"
        @onclick="Onclick"
        style="margin: auto; overflow: auto; height: 10000px; width: 10000px; -webkit-tap-highlight-color:transparent; outline:none;">
        <BECanvas @ref="_canvasReference"></BECanvas>
    </div>

@code {
    protected BECanvasComponent _canvasReference;
    private Canvas2DContext ctx;
    private BlazorRenderer renderer;
    private VizUI ui;
    private bool crashed = false;

    private int NodeCount { get; set; } = 20;
    private int NullProbPct { get; set; } = 10;
    private bool IsArtModeEnabled { get; set; } = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        this.ctx = await _canvasReference.CreateCanvas2DAsync();
        this.renderer = new BlazorRenderer(this.ctx, _canvasReference.Width, _canvasReference.Height);
        this.ui = new VizUI(NodeCount);
        await OnSubmit();

        await JsRuntime.InvokeAsync<object>("initRenderJS", DotNetObjectReference.Create(this));
        await base.OnInitializedAsync();
    }

    [JSInvokable]
    public async Task OnSubmit()
    {
        ui.NodeCount = NodeCount;
        ui.NullProbabilityPct = NullProbPct;

        await renderer.SetArtMode(IsArtModeEnabled);

        ui.Refresh();
    }

    [JSInvokable]
    public void Onclick()
    {
        ui.Refresh();
    }

    [JSInvokable]
    public async ValueTask RenderInBlazor(float ts)
    {
        if (crashed)
        {
            return;
        }

        try
        {
            var timeStamp = DateTimeOffset.FromUnixTimeMilliseconds((long)ts);
            (var tree, var size) = this.ui.GetTreeToDisplay(timeStamp);
            await this.renderer.DrawAsync(tree, size);
        }
        catch (Exception ex)
        {
            crashed = true;
            await this.renderer.RenderError(ex.ToString());
        }
    }
}
